# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [196]:
import numpy as np
import pandas as pd

In [197]:
x = 0

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [198]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [199]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [200]:
print(next(iterator))

3

In [201]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [202]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [212]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    
    for i in iterator:
        if i % 2 == 0:
            return i
        else:
            return 0
        
iterator = iter([1,2,3])
print(divisible2(iterator)) #No me sale, pero el código me parece lógico. Revisar.

0

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [147]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [143]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [171]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    
    number = 0
    while number < n:
        yield number
        if number %2 == 0:
            number = number + 2
        else:
            number = number + 1

iterator = even_iterator(5)

for i in iterator:
    print(i)

0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [172]:
from sklearn import *
import pandas as pd

columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = datasets.load_iris()
iris_data = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

Let's look at the dataset using the `head` function.

In [189]:
# Según me ha indicado Javi, cada vez que se mencione iris en el ejercicio, yo tengo que aplicar iris_data.
# No me cargaba correctamente Iris.

# Con head() se nos mostrarán las primeras 5 líneas del dataframe.
# Your code here:
iris_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [191]:
# Your code here:

np.mean(iris_data)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
target               1.000000
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [192]:
# Your code here:

np.std(iris_data)

sepal length (cm)    0.825301
sepal width (cm)     0.434411
petal length (cm)    1.759404
petal width (cm)     0.759693
target               0.816497
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [193]:
# Para seleccionar únicamente las columnas numéricas, usaremos iloc.
# Con iloc podremos localizar y extraer integers según su posición en el dataframe.
# Sirve tanto para filas como columnas. df.iloc[<row selection>, <column selection>]
# Queremos seleccionar todas las filas y todas las columnas menos la última [:,:-1]

# Your code here:
iris_numeric = iris_data.iloc[:,:-1]

iris_numeric

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [182]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    
    x = x * 0.39370
    return x

cm_to_in(1)

0.3937

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [184]:
# Your code here:

iris_inch = cm_to_in(iris_numeric)

iris_inch

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0              2.00787           1.37795            0.55118           0.07874
1              1.92913           1.18110            0.55118           0.07874
2              1.85039           1.25984            0.51181           0.07874
3              1.81102           1.22047            0.59055           0.07874
4              1.96850           1.41732            0.55118           0.07874
..                 ...               ...                ...               ...
145            2.63779           1.18110            2.04724           0.90551
146            2.48031           0.98425            1.96850           0.74803
147            2.55905           1.18110            2.04724           0.78740
148            2.44094           1.33858            2.12598           0.90551
149            2.32283           1.18110            2.00787           0.70866

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [185]:
# Define constant below:

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:

    iris_constant = iris_numeric + x
    return iris_constant

error = 2 #Definimos el error y lo fijamos en 2 como pide el enunciado.
add_constant(error)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  7.1               5.5                3.4               2.2
1                  6.9               5.0                3.4               2.2
2                  6.7               5.2                3.3               2.2
3                  6.6               5.1                3.5               2.2
4                  7.0               5.6                3.4               2.2
..                 ...               ...                ...               ...
145                8.7               5.0                7.2               4.3
146                8.3               4.5                7.0               3.9
147                8.5               5.0                7.2               4.0
148                8.2               5.4                7.4               4.3
149                7.9               5.0                7.1               3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [187]:
# Your code here:

# No sé sacarlo siguiendo el enlace que se nos recomienda de ayuda. Revisar.

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [194]:
# Your code here:

# No entiendo cómo hacerlo siguiendo los ejemplos del enlace que se nos recomienda de ayuda.
# Saco los subsets de width y length pero después no sé qué tendría que hacer con ellos. Revisar.

# Columnas con length son la 0 y la 2. Las seleccionamos con iloc.
sub_lenght = iris_numeric.iloc[:,[0,2]]

# Columnas con width son la 1 y la 3. Las seleccionamos con iloc.
sub_width = iris_numeric.iloc[:,[1,3]]