# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [6]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [7]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [8]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [9]:
print(next(iterator))

3

In [10]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [ ]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [35]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    
    for i in enumerate(iterator):
        try:
            iterate = next(iterator)
            if iterate %2 == 0:
                return iterate
        except:
            pass
    
    return 0
    

print(divisible2(iter([1,2,3,4]))) 
    #no tengo un output visible cuando tendria que dar 2 como en el ejemplo
    ##era problema de indented block

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [36]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [37]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [39]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    num=0
    while num < n:
        if num %2 == 1:
            yield num
        num = num + 1

for i in even_iterator(16):
   print(i)

1
3
5
7
9
11
13
15

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [40]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [41]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [42]:
# Your code here:
iris.mean()
np.mean(iris)
# entiendo que haciendo numpy mean hace la media de los valores de cada par치metro pero en este caso no veo bien
# hecho el c치lculo

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [43]:
# Your code here:
np.std(iris)
#hace el c치lculo de la desviacion tipica de cada par치metro

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [46]:
# Your code here:

numeric_col = ['sepal_length', 'sepal_length', 'petal_length', 'petal_width']
iris_numeric = iris [numeric_col]
iris_numeric.head()

   sepal_length  sepal_length  petal_length  petal_width
0           5.1           5.1           1.4          0.2
1           4.9           4.9           1.4          0.2
2           4.7           4.7           1.3          0.2
3           4.6           4.6           1.5          0.2
4           5.0           5.0           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [50]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x / 0.393701
#asi tenemos que cada valor por el que pase esta funcion lo divida por 0.393701 y asi convertirlo a pulgadas

In [51]:
cm_to_in(1)

2.5399986284007405

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [53]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch.head()

   sepal_length  sepal_length  petal_length  petal_width
0     12.953993     12.953993      3.555998        0.508
1     12.445993     12.445993      3.555998        0.508
2     11.937994     11.937994      3.301998        0.508
3     11.683994     11.683994      3.809998        0.508
4     12.699993     12.699993      3.555998        0.508

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [57]:
# Define constant below:

additive = 0.5


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + additive

iris_constant = add_constant(iris_numeric)
iris_constant.head()

   sepal_length  sepal_length  petal_length  petal_width
0           5.6           5.6           1.9          0.7
1           5.4           5.4           1.9          0.7
2           5.2           5.2           1.8          0.7
3           5.1           5.1           2.0          0.7
4           5.5           5.5           1.9          0.7

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: