# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [1]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [2]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [3]:
print(next(iterator))

3

In [4]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [17]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [15]:
def divisible2():
    
    it = iter([1,2,3])
    for i in it:
        if i % 2 ==0:
            return i
    return 0

In [16]:
divisible2()

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [2]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [3]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [17]:
def even_iterator(n):
    number = 0
    while number < n:
        if number % 2 !=0:
            yield number
        number += 1

In [18]:
ev_iterator = even_iterator(15)

In [19]:
for i in ev_iterator:
    print(i)

1
3
5
7
9
11
13

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [20]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [21]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [22]:
np.mean(iris)

# nos indica la media de todas las columnas numéricas con un data type float64.

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [27]:
np.std(iris)

# nos indica la desviación estándar de todas las columnas numéricas con un data type float64.

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [91]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
iris_type        object
dtype: object

In [129]:
iris_numeric = iris.select_dtypes(include=['float64'])

In [130]:
iris_numeric

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [131]:
cm_to_in =  lambda x: x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [133]:
iris_inch = iris_numeric.applymap(cm_to_in)

In [135]:
iris_inch

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
..            ...          ...           ...          ...
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [140]:
error = lambda x: x - 2

iris_constant = iris_numeric.applymap(error)

In [141]:
iris_constant

     sepal_length  sepal_width  petal_length  petal_width
0             3.1          1.5          -0.6         -1.8
1             2.9          1.0          -0.6         -1.8
2             2.7          1.2          -0.7         -1.8
3             2.6          1.1          -0.5         -1.8
4             3.0          1.6          -0.6         -1.8
..            ...          ...           ...          ...
145           4.7          1.0           3.2          0.3
146           4.3          0.5           3.0         -0.1
147           4.5          1.0           3.2          0.0
148           4.2          1.4           3.4          0.3
149           3.9          1.0           3.1         -0.2

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: